# Basics of Python

In [2]:
data=[11,22,33,44,55]
for d in data:
  print(d)

11
22
33
44
55

In [4]:
s = 1
e = 10
t = 3
while s<=e:
  print(s*t)
  s=s+1

3
6
9
12
15
18
21
24
27
30

In [5]:
total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number

    # take integer input again
    number = int(input('Enter a number: '))


print('total =', total)

Enter a number: 2
Enter a number: 4
Enter a number: 0
total = 6

In [6]:
counter = 0
while counter < 3:
    print('Inside loop')
    counter = counter + 1
else:
    print('Inside else')

Inside loop
Inside loop
Inside loop
Inside else

In [7]:
counter = 0

while counter < 3:
    # loop ends because of break
    # the else part is not executed
    if counter == 1:
        break

    print('Inside loop')
    counter = counter + 1
else:
    print('Inside else')

Inside loop

In [9]:
for i in range(1,4):
    print(i)

1
2
3

In [20]:
tableNumber=int(input("Enter Table You want to Print: "))
startFrom=tableNumber
endTo=(tableNumber*10)+1
x =1
for i in range(startFrom,endTo,tableNumber):
    #print(i)  # 5,10
    strResult= str(tableNumber)+ " X " + str(x) + " = " + str(i)
    print(strResult)
    x=x+1
    # 5X1 = 5
    # 5X2 = 10

Enter Table You want to Print: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

# Lambda

In [28]:
# Before Lambda ( Function )

#Function Defination
def f1():
  print("___________________")
  print("Welcome to Python")
  # print("___________________")

In [ ]:
for i in range(11):
  #Function Calling
  f1()

In [31]:
#Function Defination
f2= lambda : print("Welcome")

#Function Calling
f2()

Welcome

In [32]:
def Add():
  a=10
  b=20
  c=a+b
  print(c)

In [33]:
Add()

30

In [34]:
Subs = lambda : 10-2

In [35]:
Subs()

8

In [37]:
def Mul(a,b):
  c=a*b
  print(c)

In [38]:
Mul(10,2)

20

In [39]:
Mul2 = lambda a,b: a*b

In [40]:
Mul2(2,3)

6

In [41]:
# lambda that accepts one argument
greet_user = lambda name : print('Hey there,', name)

# lambda call
greet_user('Ravi')

Hey there, Ravi

In [ ]:
# Function that accepts one argument
def greet_user( name):
  print('Hey there,', name)

# lambda call
greet_user('Ravi')

In [42]:
fp = open("data1.txt", "w")
fp.write("Welcome to Python")
fp.close()

In [46]:
try:
  fp = open('data1.txt', "r")
  strResult = fp.read()
  print(strResult)
finally:
  fp.close()

Welcome to Python

# OOP using Python

In [61]:
# class Vehical:
#   a=10
#   def running(self):
#     pass
# class Bike(Vehical):
#   def run(self,name):
#     print("Running "+name)
#   def stop(self,gear):
#     pass


# b1= Bike()
# b1.a=20
# b1.running()
# b1.stop(5)

In [60]:
#ObjectName =  ClassName()
bike = Bike()
bike.run("KRIZMA")  #Abstraction

Running KRIZMA

In [70]:
# Web REST API Calls
import requests
token="6774003891:AAHdOgqU6Apmx7EWKLx5_6WpkPMWyrCPAy8"
base_url = "https://api.telegram.org/bot"+token+"/getUpdates"

parameters = {
    "offset" : "6774003891"
}

resp = requests.get(base_url) #, data = parameters)
print(resp.text)

{"ok":true,"result":[{"update_id":376735915,
"message":{"message_id":4,"from":{"id":452757072,"is_bot":false,"first_name":"Syed Mujahed","username":"Mujahed_H"},"chat":{"id":-4097867952,"title":"Personal Testing Bot","type":"group","all_members_are_administrators":true},"date":1703701582,"text":"welcome"}}]}

In [69]:
base_url

'https://api.telegram.org/bot6774003891:AAHdOgqU6Apmx7EWKLx5_6WpkPMWyrCPAy8/getUpdates'